@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 238, 218, 209;
    --background-start-rgb: 13, 20, 28;
    --background-end-rgb: 13, 20, 28;
    --brown-sugar: 199, 108, 67;
    --mint-cream: 234, 242, 239;
  }
}

html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header {
  background-color: rgba(var(--background-end-rgb),0.75);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}